.dashboard-header{
  font-size: 16px;
  font-weight: 600;
}
.overview-container {
  width: calc(100% - 60px);
  position: absolute;
  padding: 1vw;
  height: 100%;
  .overview-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .header {
      height: 90px;
      width: 100%;
    }
    .overview-components {
      display: flex;
      flex-direction: row;
      gap: 30px;
      width: 100%;
      height: 100%;
      .left-side {
        width: 70%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
      }
      .right-side {
        width: 30%;  
        display: flex;
        flex-direction: column;
        row-gap: 30px;     
      }
      .dashboard-wrapper {
        background: white;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
      }
    }
  }
}