/* .overview-container{
    position: absolute;
    left: 100px;
    width: 91%;
    top: 70px;
} */

#overview-panel-container-up {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3vh;
  margin-left: 2vw;
  max-width: 80vw;
}
#overview-panel-container-down {
  display: flex;
  align-items: flex-end;
  margin-left: 2vw;
  max-width: 80vw;
}

.overview-panels {
  border-radius: 30px;
  box-shadow: 1px 2px 8px 4px #eeeeee;
  padding: 25px;
}

.overview-panels-without-padding {
  border-radius: 30px;
  box-shadow: 1px 2px 8px 4px #eeeeee;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#overview-monthly-usage {
  height: 30vh;
  min-height: 210px;
  max-height: 240px;
  width: 34vw;
  min-width: 420px;
  margin-right: 40px;
  background-color: var(--purple);
  padding-bottom: 195px;
}

#overview-processed-records {
  height: 35vh;
  min-height: 210px;
  width: 48vw;
  min-width: 620px;
  background-color: var(--white);
}

#overview-execution-status {
  height: 35vh;
  min-height: 210px;
  min-width: 700px;
  width: 60vw;
  margin-right: 40px;
  background-color: var(--white);
  white-space:nowrap
}

#overview-data-sources {
  height: 35vh;
  min-height: 210px;
  width: 10vw;
  min-width: 340px;
  background-color: var(--white);
}

.overview-bold {
  font-size: 18px;
  font-weight: 600;
  color: #2b2e3f;
  height: 20px;
}

.overview-bold-light {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}

/* Mobile */
#overview-panel-container-up-mobile {
  align-items: flex-end;
  margin-bottom: 30px;
  max-width: 90vw;
}
#overview-panel-container-down-mobile {
  align-items: flex-end;
  max-width: 90vw;
}

#overview-monthly-usage-mobile {
  height: 30vh;
  min-height: 210px;
  max-height: 240px;
  background-color: var(--purple);
  padding-bottom: 195px;
  margin-bottom: 30px;
  min-width: 355px;
  text-align: left;
}

#overview-execution-status-mobile {
  height: 35vh;
  min-height: 210px;
  min-width: 355px;
  background-color: var(--white);
  white-space:nowrap;
  margin-bottom: 30px;
  text-align: left;
}