.panel-container {
  background-color: #f0f1f7;
  width: 92vw;
  min-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 70px;
}

.panel-back {
  height: 100vh;
  min-height: 660px;
  padding-top: 2vh;
  min-width: 1300px;
}
.panel-header-container{
  z-index: 3;
  position: relative;
  height: 70px;
  min-height: 70px;
}

.panel {
  position: absolute;
  /* height: 96vh; */
  height: 95vh;
  min-height: 650px;
  min-width: 1170px;
  width: 92vw;
  margin-left: 100px;
  margin-right: 1vw;
  color: #5e5e68;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 2;
}

.panel-header {
  display: flex;
  justify-content: flex-end;
}

.panel-welcome {
  padding-left: 40px;
  display: flex;
  align-items: center;
  font-size: 19px;
  opacity: 0.8;
}

.panel-bold-label {
  font-weight: 700;
}

#panel-img-divider {
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: #d4d9de;
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  align-self: center;
}

.panel-company-logo {
  height: 30px;
}

.panel-user-header {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: capitalize;
}

.panel-position {
  font-size: 11px;
  font-weight: 600;
  opacity: 0.5;
}

label {
  color: #2b2e3f;
}

.panel-menu-item {
  cursor: pointer;
  padding-top: 8px;
  margin-left: 20px;
}

.panel-menu-label {
  cursor: pointer;
  font-size: 13px;
  margin-left: 7px;
  margin-top: 8px;
}
.select-lang img {
  position: relative;
  width: 1vw;
  height: 1vw;
  min-width: 15px;
  min-height: 15px;
  margin-right: 8px;
  top:-2px;
}

#panel-menu-img {
  height: 28px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 12px;
}

.panel-user-menu {
  font-size: 13px;
  margin: 6px;
  font-weight: 600;
  text-transform: capitalize;
}

.panel-menu-header{
  background-color: aquamarine;
}

.panel-user {
  cursor: pointer;
}
.Popover.MuiPopover-paper {
  background-color: var(--white) !important;
  width: 360px;
  margin-top: 2px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.MuiListItem-root.Mui-disabled.menuheader{
  opacity: 1 !important;
}

.panel-menu-icon {
  margin-top: 8px;
  margin-left: 8px;
  color: var(--purple);
}

.panel-menu-support {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 2px;
  height: 19px;
  width: 19px;
}

.panel-position-menu {
  font-size: 11px;
  font-weight: 100;
}

#panel-arrow {
  padding-left: 5px;
  width: 1.3vw;
  height: 1vw;
}

.panel-body{
  position: relative;
  width: 100%;
  /* height: calc(96vh - 90px); */
  height: calc(95vh - 75px);
  min-height: 560px;
}
.panel-body-mobile{
  background-color: rgb(240, 241, 247);
  width: 96vw;
  height: 96vh;
  margin-top: 2vh;
  margin-left: 2vw;
  border-radius: 30px;
  position: relative;
  text-align: -webkit-center;
  text-align: -moz-center;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open{
  /* color: unset; */
  border-bottom: transparent;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover{
  border-bottom: transparent;
}
.Popover-mobile.MuiPopover-paper {
  background-color: var(--white) !important;
  margin-top: 2px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.panel-header-mobile{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
.menu-icon-mobile{
  position: absolute;
  right: 25px;
}

.panel-content-mobile{
  margin-top: 20px;
  overflow: auto;
  height: 80%;
}
