.auditing-container {
    width: 52vw;
    height: 28vh;
    min-height: 250px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    padding: 20px;
    padding-left: 0;
    padding-top: 0;
    background: white;
    margin-right: 30px;
    .ant-divider {
        margin: 0;
        position: relative;
        left: 0px;
        width: calc(100% + 20px);
    }
    .title {
        font-weight: 600;
        font-size: 14px;
    }
    .auditing-body{
        position: relative;
        height: calc(100% - 30px);
    }
}
