.generic-container{
    height: 15%;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    .data-box{
        display: flex;
        width: 32%;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 20px;
        }
        .data-wrapper {
            b{
                font-size: 14px;
                color: #979797;
                font-weight: 600;
            }
            p{
                font-size: 24px;
                color: #1D1D1D;
                margin: 0;
                display: flex;
                span{
                    font-size: 12px;
                    color: #979797;
                    margin: 14px 0px 0px 5px;
                }
            }
        }
    }
}