.channel-container {
    width: calc(100% - 2vw);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px rgba(221, 221, 221, 0.3);
    min-height: 6vh;
    margin-bottom: 10px;
    .channel-overview-header {
        display: flex;
        min-height: 6vh;
        padding-left: 20px;
        justify-content: space-between;
        h3,
        p {
            margin: 0;
        }
        .info-fields {
            display: flex;
            .field-wrapper {
                padding-right: 15px;
                display: flex;
                align-items: center;
                h3 {
                    font-weight: bold;
                    padding-right: 3px;
                }
                p {
                    font-weight: 600;
                }
            }
        }
        .actions-side {
            display: flex;
            .action {
                display: flex;
                align-items: center;
                margin-left: 20px;
            }
            .overview,
            .edit {
                color: var(--purple);
                font-weight: bold;
                cursor: pointer;
            }
            .channel-menu {
                .threedots-menu {
                    color: #a9a9a9;
                    margin-top: 0px;
                }
            }
        }
    }
}
