.list-item-container {
    margin-left: 2vw;
    width: 50vw;
    min-width: 800px;
    color: var(--blue);
    font-size: 16px;
    .list-item {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      p {
        margin-left: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        .button {
          height: 25px;
          padding-top: 2px;
          border-radius: 50px;
          align-items: center;
          text-align: center;
          width: 120px;
          // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
        }
      }
      p.type {
        width: 120px;
        justify-content: center;
      }
    }
    .list-item.header {
      font-weight: 600;
    }
    .list-item.item {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 4px 3px rgba(221, 221, 221, 0.3);
      height: 60px;
      border-radius: 15px;
      margin-bottom: 10px;
    }
  }
  