.resources-container {
    height: 47.5%;
    padding: 15px;
    min-width: 250px;
    min-height: 211px;
    p {
        margin-bottom: 0;
    }
    .resource {
        display: flex;
        align-items: center;
       .chart-pie {
           width: 130px;
           height: 110px;
        //    height: 80px;
       }
    }
}
