.factories-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;

    .one-edge-shadow {
        height: 100px !important;
    }

    .factories-header-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
        h3 {
            font-weight: 400;
            font-size: 14px;
        }
    }

    .factories-list {
        height: calc(95vh - 110px);
        width: 100%;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        overflow-y: auto;
        margin-right: 1vw;
        margin-top: 20px;
        gap: 16px;
        padding: 3px;
        .no-factory-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            color: #A9A9A9;
            width: 100%;
            img {
                margin-bottom: 30px;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }
            .sub-title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 60px;
            }
        }
    }
}

.loader-uploading {
    position: absolute;
    max-height: calc(74%);
    div {
        background-color: var(--white);
        position: fixed;
        z-index: 3;
        opacity: 0.5;
        width: 92vw;
        height: 80%;
    }
    img {
        width: 16vw;
        min-width: 200px;
        z-index: 3;
        position: relative;
        top: calc(25vh);
        transform: translateY(40%);
        left: 50vw;
        transform: translateX(-90%);
    }
}