.throughput-container {
    width: calc(100% - 54vw);
    height: 28vh;
    min-height: 250px;
    box-shadow: 0px 0px 4px 3px rgb(204 204 204 / 19%);
    border-radius: 8px;
    padding: 20px;
    background: white;
    position: absolute;
    .title {
        font-weight: 600;
        font-size: 14px;
    }
}
