.generic-list-wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    .list {
        position: relative;
        width: 30vw;
        border-right: 1px solid #E9E9E9;
        padding-top: 20px;
        .coulmns-table {
            border-bottom: 1px solid #e9e9e9;
            width: 99%;
            display: flex;
            justify-content: space-between;
            color: #979797;
            padding-left: 22px;
            span{
                font-weight: 400;
                font-size: 12px;
                margin-right: 10px;
            }
        }
        .rows-wrapper {
            position: absolute;
            width: calc(100% - 1px);
            height: calc(100% - 40px);
            overflow: auto;
            .pubSub-row {
                width: 100%;
                height: 35px;
                display: flex;
                color: #1d1d1d;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-weight: 400;
                font-size: 12px;
                padding-left: 22px; 
                div {
                    margin-right: 10px;
                }
            }
            .selected {
                padding-left: 16px;            
                border-left: 6px solid var(--purple);
                background: rgba(90, 79, 229, 0.04);;
            }
            
        }
    }
    .row-data{
        width: 20vw;
        height: 16vh;
        overflow-wrap: anywhere;
        overflow: auto;
        margin: 1vh;
        margin-top: 55px;
    }
    
}