.sys-components-container {
    height: 47.5%;
    padding: 15px;
    
    p {
        margin-bottom: 0px;
    }
    .sys-components-header {
        margin-top: 15px;
        color: #979797;
        display: grid;
        grid-template-columns: 40% 20% 40%;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .component-list {
       overflow-y: scroll;
       height: 80%;
        .sys-components {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
        }
    }
}
