.users-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    .add-search-user {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
    }
    .users-list-container {
        margin-top: 30px;
        .users-list-header {
            display: flex;
            position: relative;
            height: 20px;
            p {
                position: absolute;
                font-weight: 600;
                font-size: 14px;
            }
            .user-name-title {
                padding-left: 45px;
            }
            .type-title {
                padding-left: 350px;
            }
        }
    }
}
