.create-station-form {
    .field-title {
        font-weight: 400;
        font-size: 12px;
        margin: 0;
    }
    .factory-name {
        margin-top: 20px;
    }
    .retention {
        height: 125px;
    }
    .time-value {
        display: flex;
        margin-top: 15px;
        .days-section,
        .hours-section,
        .minutes-section,
        .seconds-section {
            text-align: center;

            p {
                font-size: 11px;
                font-weight: 400;
                line-height: 23px;
            }
        }
        .separator {
            margin: 3px 5px 0px 5px;
            font-size: 14px;
            font-weight: bold;
            line-height: 23px;
            color: var(--gray);
        }
    }
    .size-value,
    .messages-value,
    .replicas-value {
        display: flex;
        margin-top: 15px;
        align-items: center;
        p {
            font-weight: 400;
            font-size: 14px;
            margin-left: 5px;
            margin-bottom: 0;
        }
    }
    .storage,
    .replicas {
        margin-top: 20px;
    }

    //input-number
    .ant-input-number {
        width: 60px;
        height: 38px;
        border-radius: 4px;
        border: 1px solid var(--gray);
    }
    .ant-input-number-input {
        height: 38px;
    }
    .ant-input-number-focused {
        box-shadow: unset;
    }
    .ant-input-number-handler {
        border-left: none;
    }
    .ant-input-number-handler-wrap {
        opacity: 1;
    }
    .ant-form-item {
        margin-bottom: 0px !important;
    }
}
