.sys-components-container {
    height: 47.5%;
    padding: 15px;
    min-width: 250px;
    min-height: 250px;
    p {
        margin-bottom: 0px;
    }
    .sys-components-header {
        margin-top: 15px;
        color: #979797;
        display: grid;
        grid-template-columns: 40% 20% 40%;
        padding-left: 10px;
        padding-bottom: 10px;
        height: 30px;
    }
    .component-list {
        overflow-y: scroll;
        height: calc(100% - 70px);
        .sys-components {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
        }
    }
}
