.application-details-container {
  width: 92vw;
  min-width: 1170px;
  position: absolute;
  height: 100%;
  .application-details-header {
    background-color: #f0f1f7;
    height: 140px;
    display: flex;
    justify-content: space-between;
    .left-side {
      .edit-icon {
        cursor: pointer;
        margin-left: 6px;
      }
      .edit-input-name input {
        background-color: transparent;
        border: none;
        font-size: 28px;
        font-weight: 1000;
        margin-left: 2vw;
        margin-right: 3vw;
        color: var(--blue);
        padding-top: 25px;
      }
      .description {
        display: flex;
        padding-top: 10px;
        margin-left: 2vw;
        p {
          max-width: 25vw;
          overflow-y: auto;
          overflow-x: hidden;
          height: 60px;
          display: flex;
          font-size: 16px;
          padding: 0;
          margin: 2px;
          overflow-wrap: anywhere;
        }
        .edit-icon {
          margin-top: 6px;
        }
      }
      textarea {
        display: flex;
        margin-bottom: 0.5em;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        background-color: transparent;
        border: none;
        font-size: 16px;
        overflow: auto;
        resize: none;
        max-width: 25vw;
        width: 500px;
        margin-left: 2vw;
        padding-top: 12px;
      }
      
      .channels-length {
        display: flex;
        margin-left: 2vw;
        height: 3vh;
        align-items: center;
        h1 {
          font-weight: 1000;
          color: var(--blue);
          font-size: 18px;
          margin: 0;
        }
      }
    }
    .right-side {
      margin-right: 2vw;
      margin-top: 2vh;
    }
  }
  .channels-content{
    height: calc(100% - 20vh);
    padding: 2vw 0vw 0vw 2vw;
    position: relative;
    overflow: auto;
    .no-channel-to-display {
      position: relative;
      top: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}




