.applications-container{
  width: calc(100% - 60px);
  position: absolute;
  padding: 1vw;
  min-width: 1170px;
}

.one-edge-shadow {
  box-shadow: 0px 3px lightgray;
  height: 140px !important;
}

.applications-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 3vw;
}

.application-list {
  height: calc(95vh - 247px);
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-left:2px;
  margin-top: 20px;
}

