.select-container {
    .select {
        border: 1px solid;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: unset;
        background-color: unset;
        text-align: initial;
        height: 40px;
        align-items: center;
    }
    .ant-select-selector {
        border: unset;
        color: #5e5e68;
        font-weight: 500;
        .ant-select-selection-item {
            height: 36px;
        }
    }
    .ant-select-arrow {
        background-color: transparent;
        img {
            width: 0.9vw;
        }
    }
}

.select-container .ant-select-focused .ant-select-selector,
.select-container .ant-select-selector:focus,
.select-container .ant-select-selector:active,
.select-container .ant-select-open .ant-select-selector {
    border-color: transparent !important;
    box-shadow: none !important;
}

.functions-field {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    .ant-select-item-option-content {
        text-align: left;
        z-index: 111;
    }
    .ant-select-item-option:not(:last-child) {
        border-bottom: 1px solid rgba(43, 46, 63, 0.2);
        background-color: unset;
    }
    .ant-select-item-option:hover {
        background-color: #edebeb;
    }
}

.alert-value {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    .ant-select-item-option-content {
        text-align: left;
        z-index: 111;
    }
    .ant-select-item-option:not(:last-child) {
        border-bottom: 1px solid rgba(43, 46, 63, 0.2);
        background-color: unset;
    }
    .ant-select-item-option:hover {
        background-color: #edebeb;
    }
}

.rc-virtual-list-scrollbar {
    width: 3px !important;
    background: white !important;
}
.rc-virtual-list-scrollbar-thumb {
    background: #cbcbcb !important;
}
