.station-overview-header {
    width: calc(100);
    align-items: center;
    justify-content: space-between;
    .title-wrapper {
        display: flex;
        justify-content: space-between;
        .station-name {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
        }
    }
    .details {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        height: 85px;
        .main-details {
            font-size: 12px;
        }
        .details-wrapper {
            display: flex;
            align-self: center;
            .icon {
                width: 50px;
                height: 50px;
                background: rgba(101, 87, 255, 0.1);
                box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .more-details {
                margin-left: 10px;
                color: #a8a8a8;
                width: 8vw;
                min-width: 110px;
                p {
                    margin: 0;
                }
                .number {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                }
                .title {
                    font-size: 12px;
                    line-height: 24px;
                }
                .ant-progress-inner {
                    background-color: #E9E9E9;
                }
                .ant-progress-status-success .ant-progress-bg {
                    background-color: var(--purple);
                }
                .ant-progress-status-exception .ant-progress-bg {
                    background-color: var(--red);
                }
            }
        }
    }
}
