.factory-details-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    min-width: 700px;
    height: 100%;
    .factory-details-header {
        height: 135px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .left-side {
            color: var(--blue);
            .main-header-h1 {
                padding: 1px;
                margin-bottom: 5px;
            }
            .edit-icon {
                cursor: pointer;
                margin-left: 6px;
                width: 15px;
                height: 15px;
                color: var(--gray);
            }
            .edit-input-name {
                margin-bottom: 5px;
                input {
                    background-color: transparent;
                    border: 1px solid var(--gray);
                    border-radius: 5px;
                    font-size: 24px;
                    font-weight: 600;
                    padding: 0;
                }
            }
            .description {
                display: flex;
                height: 57px;
                p {
                    max-width: 25vw;
                    overflow-y: auto;
                    overflow-x: hidden;
                    display: flex;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                    margin: 2px;
                    overflow-wrap: anywhere;
                    padding: 1px;
                }
                .edit-icon {
                    margin-top: 6px;
                }
            }
            textarea {
                display: flex;
                margin-bottom: 0.5em;
                color: rgba(0, 0, 0, 0.85);
                background-color: transparent;
                border: 1px solid var(--gray);
                border-radius: 5px;
                font-size: 14px;
                font-weight: 400;
                overflow: auto;
                resize: none;
                width: 270px;
            }

            .factories-length {
                display: flex;
                height: 3vh;
                align-items: center;
                h1 {
                    font-weight: 600;
                    color: var(--blue);
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
        .right-side {
            margin-right: 2vw;
            place-self: end;
        }
    }
    .stations-content {
        height: calc(100% - 165px);
        padding: 3px 3px 2px 3px;
        position: relative;
        overflow: auto;
        .no-station-to-display {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            color: #A9A9A9;
            img {
                margin-bottom: 30px;
            }
            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }
            .sub-title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 60px;
            }
        }
    }
}
