.connection-details-container {
    width: 15vw;
    height: 45vh;
    min-height: 390px;
    min-width: 210px;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    padding: 20px;
    .title {
        font-weight: 600;
        font-size: 14px;
    }
    .connections-details {
        h1 {
            font-size: 16px;
            font-weight: 600;
            display: grid;
        }
        p,
        a {
            cursor: default;
            font-weight: 500;
            margin-left: 5px;
            overflow-wrap: anywhere;
            overflow: auto;
            min-height: 75px;
            width: 100%;
        }
        p {
            height: 16.5vh;
            margin: 0;
        }
        a {
            height: 9vh;
        }
        .sdk-btn {
            text-align: -webkit-center;
        }
    }
}
