.search-input-container{
    position: relative;
    z-index: 2;
    margin-left: 2vw;
    align-self: center;
}

.search-input-container Input{
    font-size: 12px;
    font-weight: bold;
}
.search-icon .anticon svg{
    width: 1vw;
    height: 14px;
}