.profile-container {
    .profile-sections{
        margin-top: 60px;
        .avatar-section{
            display: flex;
            .sub-icon-wrapper{
                cursor: pointer;
                margin-right: 23px;
                width: 35px;
                height: 35px;
                background: #ffffff;
                box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 0.25);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .sub-icon-wrapper-border{
                border: #6557FF 1px solid;
            }
           
        }
        .warning{
            display: flex;
            img {
                margin-right: 15px;
            }
        }
    }
    .company-logo{
        height: 170px;
    }
}
