.overview-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 1vw;
    height: 100%;
    overflow: auto;
    .overview-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        .header {
            height: 110px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-welcome {
                display: flex;
                .bot-wrapper {
                    position: relative;
                    margin-right: 20px;
                    background: #ffffff;
                    box-shadow: 0px 0px 1.9px 1px rgba(170, 170, 170, 0.25);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .dynamic-sentences {
                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #1d1d1d;
                    margin: 0;
                    text-transform: capitalize;
                }
                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                }
                .ok-status {
                    color: #2ed47a;
                }
            }
        }
        .overview-components {
            display: flex;
            flex-direction: row;
            gap: 40px;
            width: 100%;
            height: calc(100% - 110px);
            .left-side {
                width: 75%;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
            }
            .right-side {
                width: 25%;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
            }
            .overview-wrapper {
                background: white;
                border: 1px solid #e9e9e9;
                box-sizing: border-box;
                box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
            }
            .overview-components-header {
                font-size: 16px;
                font-weight: 600;
                height: 25px;
            }
            .coming-soon-wrapper{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: #fafafaf0;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction:column;
                border-radius: 8px;
                p{
                    font-weight: 700;
                    font-size: 15px;
                    color: #979797;
                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }
            .coming-soon-small{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: #fafafaf0;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction:column;
                border-radius: 6px;
                p{
                    font-weight: 700;
                    font-size: 10px;
                    color: #979797;
                    margin-bottom: 0;
                }
            }
        }
    }
}
