.overview-container {
    width: calc(100% - 60px);
    position: absolute;
    padding: 1vw;
    height: 100%;
    .overview-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        .header {
            height: 110px;
            width: 100%;
            display: flex;
            align-items: center;
            .bot-wrapper {
                position: relative;
                margin-right: 20px;
                background: #ffffff;
                box-shadow: 0px 0px 1.9px 1px rgba(170, 170, 170, 0.25);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-bottom: 5px;
                }
            }
            .dynamic-sentences {
                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #1d1d1d;
                    margin: 0;
                }
                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                }
                .ok-status {
                    color: #2ed47a;
                }
            }
        }
        .overview-components {
            display: flex;
            flex-direction: row;
            gap: 40px;
            width: 100%;
            height: calc(100% - 110px);
            .left-side {
                width: 75%;
                display: flex;
                flex-direction: column;
                row-gap: 40px;
            }
            .right-side {
                width: 25%;
                display: flex;
                flex-direction: column;
                row-gap: 40px;
            }
            .overview-wrapper {
                background: white;
                border: 1px solid #e9e9e9;
                box-sizing: border-box;
                box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                overflow: auto;
            }
            .overview-components-header {
                font-size: 16px;
                font-weight: 600;
                height: 25px;
            }
        }
    }
}
