.station-observabilty-container {
    display: flex;
    justify-content: space-between;
    .thunnel-from-sub,
    .thunnel-to-pub {
        width: 9vw;
    }
    .thunnel-to-pub{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
