.factories-container{
    height: 38%;
    min-width: 620px;
    min-height: 161px;
    padding: 15px;
    position: relative;
    .factories-err-message{
        display: flex;
        width: 100%;
        height: 35px;
        background: rgba(90, 79, 229, 0.1);
        border: 1px solid var(--purple);
        box-sizing: border-box;
        border-radius: 8px;
        color: var(--purple);
        align-items: center;
        .err-icon {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 10px;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
    }
    .err-factories-list{
        position: relative;
        height: calc(100% - 90px);
        font-size: 12px;
        margin-top:10px;
        .coulmns-table{
            border-bottom: 1px solid #E9E9E9;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #979797;
            
        }
        .rows-wrapper{
            position: absolute;
            width: 100%;
            height: calc(100% - 35px);
            overflow: auto;
            .factory-row{
                display: flex;
                color: #1D1D1D;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;
                .link-row {
                    color: transparent;
                    font-weight: 600;
                    cursor: pointer;
                }
                .dot{
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 5px;
                }
                .green {
                    background-color: #00B292;
                }
                .yellow {
                    background-color: #FFD12F;
                }
            }
            .factory-row:nth-child(even) {
                background-color: #F8F8F8;
            }
            .factory-row:hover .link-row{
                display: block;
                color: var(--purple);
            }
            
        }
        span{
            padding: 10px;
            display: flex;
            align-items: center;
            height: 35px;
        }
    }
}