.station-overview-container {
    width: calc(100% - 70px);
    position: absolute;
    padding: 2vw;
    height: 100%;
    min-width: 1000px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .overview-top {
        display: flex;
        width: calc(100%);
        justify-content: space-between;
        .station-observability {
            margin-right: 4vw;
        }
        .connection-details{
            align-self: center;
        }
    }
    .overview-bottom {
        width: 100%;
        display: flex;
        position: relative;
    }
    .coming-soon-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #fafafaf0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        border-radius: 8px;
        p{
            font-weight: 700;
            font-size: 15px;
            color: #979797;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}
