.generic-list-wrapper {
    display: flex;
    .list {
        position: relative;
        width: 30vw;
    }
    .row-data{
        width: 20vw;
        height: 16vh;
        overflow-wrap: anywhere;
        overflow: auto;
        margin: 1vh;
        margin-top: 55px;
    }
}
.audit-table {
    .ant-table-container{
        height: 21vh !important;
        min-height: 180px;
        width: 30vw !important;
        position: absolute;
        border-right: 1px solid #E9E9E9;
        margin-top: 1vh;
    }
    ::-webkit-scrollbar {
        width: 5px !important;
    }
    .ant-table {
        background: transparent;
    }
    .ant-table-body {
        max-height: unset !important;
        height: 83% !important;
        position: relative;
    }
    .ant-table-tbody {
        background-color: #fbfbfb;
        > tr > td {
            border-bottom: none;
        }
    }
    .ant-table-thead th {
        color: #979797;
    }
    .column_table::before {
        width: 0px !important;
    }
    .ant-table-cell-row-hover {
        background-color: rgba(90, 79, 229, 0.04) !important;
    }
    .selected-row{
        background-color: rgba(90, 79, 229, 0.04);
    }
}