.auditing-container{
    width: 58vw;
    height: 30vh;
    box-shadow: 0px 0px 4px 3px rgba(204, 204, 204, 0.19);
    border-radius: 8px;
    padding: 20px;
    .title{
        font-weight: 600;
        font-size: 14px;
    }
}