.sidebar {
  width: 90px; /* Set the width of the sidebar */
  height: 100%;
  position: absolute;
  z-index: 1; /* Stay on top */
  left: 0;
  text-align: center;
  background-color: var(--white);
}

.sidebar-circle-icon {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  position: relative;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px transparent solid;

}

@keyframes blink { 50% { background-color:transparent ; }  }


.sidebar-icon-checked {
  background: #5ca6a0;
  color: var(--white);
}
.sidebar-icon {
  background: var(--white);
  color: #bfbdd4;
}
.sidebar-icon-support {
  background: var(--purple);
  color: var(--white);
}

.sidebar-logoimg {
  width: 47px;
  height: 47px;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.sidebar-icons{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-supprt{
  position: absolute;
  bottom: 1.5vh;
}