.sidebar-container {
  width: 60px;
  height: 100vh;
  position: relative;
  text-align: center;
  background: #FCFCFC;

  .upper-icons{
    .logoimg {
      margin-top: 1vh;
      margin-bottom: 5vh;
    }
    .item-wrapper{
      p{
        font-size: 10px;
        color: #D8D8D8;
        font-weight: 600;
      }
      .name-checked{
        color: var(--purple);
      }
    }
  }
  
  .bottom-icons{
    position: absolute;
    bottom: 1vh;
    width: 100%;
    .sub-icon-wrapper{
      width: 35px;
      height: 35px;
      background: #E9E9E9;
      box-shadow: 0px 0px 2px rgb(148 148 148 / 25%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      img {
        margin-bottom: 5px;
      }
    }
    
    .ant-menu-vertical{
      background: transparent !important;
      border: unset !important;
    }
    .app-menu {
      i{
        display: none;
      }
      .ant-menu-submenu-title{
        text-overflow: unset;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .ant-menu-item-icon{
        width: 40px;
        position: absolute;
        display: flex;
        place-content: center;
      }
    }
    
  }
 
  
  .circle-nav-item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px transparent solid;
    background: #E9E9E9;
    color: #bfbdd4;
    img {
      width: 20px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  
  .checked {
    background: var(--purple);
    color: var(--white);
  }
  
  .support {
    background: var(--purple);
    color: var(--white);
  }
  
}
.header-menu {
  border-bottom: 0.5px solid #E9E9E9;
  display: flex;
  height: 45px;
  align-items: center;
  padding-left: 15px;
  p{
    margin: 0;
    font-size: 12px;
  }
  .company-logo {
    width: 30px;
    height: 30px;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }
}
.item-wrapp{
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  p{
    margin: 0;
    font-size: 12px;
  }
}

.ant-menu-submenu > .ant-menu{
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  width: 16vw;
  min-width: 220px;
}

.ant-menu-item-group-list .ant-menu-item{
  padding: 0 16px 0 21px;
}

.ant-menu-item-group-title{
  padding: 8px 0px;
}

.ant-menu-vertical .ant-menu-item{
  line-height: unset !important;
}

.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active {
  color: var(--purple);
}

.ant-menu-item-selected{
  color: black;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: unset;
}