.loginContainers{
    width: 100%;
    height: 100%;
    position: absolute;
    .login-background {
        position: relative;
        width: 100%;
        height: 100%;
        background:
          linear-gradient(45deg, rgba(185,176,255,1) 0%, rgba(247,247,247,1) 33%, rgba(247,247,247,1) 66%, rgba(98,165,223,1) 100%) 0px 0px / 500px 500px no-repeat no-repeat; 
        background-size: 100% 100%;
        .desktop-login-content{
            position: relative;
            display: grid;
            width: 100%;
            height: 100%;
            min-width: 1000px;
            min-height: 500px;
            justify-items: center;
            grid-template-rows: 25% 13% 62%;
            overflow: auto;
            .logoImg {
                align-self: center;
                text-align: center;
                img {
                    width: 13vw;
                    height: auto;
                }
            }
            .title{
                font-size: 2.5vw;
                color: var(--blue);
                font-weight: 100;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
                margin-bottom: 20px;
                p{
                    display: flex;
                    margin: 5px;
                    justify-content: center
                }
                .change-color{
                    color: #8277D9;
                    display: contents;
                }
            }
            .login-form {
                .ant-form-item{
                    height: 75px;
                    position: relative;
                    display: grid;
                    margin-bottom: 0px;
                    width: 19vw;
                }
                .ant-form-item-control{
                    margin: 0;
                }
                .checkBox{
                    font-weight: 600;
                    position: relative;
                    top: 5px;
                    .ant-checkbox-wrapper{
                        width: 19vw;
                        text-align: center;
                        justify-content: center;
                        .ant-checkbox-inner {
                            background-color:#8277D9;
                            border-color:#8277D9;
                        }
                    }
                    .ant-checkbox-checked::after{
                        border-color:#8277D9;
                    }
                    .ant-checkbox-inner{
                        border-color:#8277D9;
                        background-color: transparent;
                    }
                }
                .ant-form-item-explain.ant-form-item-explain-error{
                    padding-left: 14px;
                    min-width: 280px;
                }
            }
        }
    } 
}

.error-message {
    position: absolute;
    width: 21vw;
    p {
        color: #ff4d4f;
    }
}

.mobile-login{
    display: grid;
    overflow: auto;
    grid-template-rows: 30% 70%;
    height: 100%;
    .logo-mobile{
        position: relative;
        top: 10%;
    }
    .mobile-form{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        .ant-form{
            position: relative;
            justify-items: center;
            .ant-form-item{
                min-width: 230px;
                height: 70px;
                margin-bottom: 0px;
            }
            .ant-form-item-explain.ant-form-item-explain-error {
                float: left;
                display: flex;
                padding-left: 16px;
                width: 60vw;
                text-align: left;
            }
        }
       
        .ant-input-affix-wrapper {
            background-color: #f9f9f9 !important;
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.21);
        }
        .checkbox-container{
            justify-content: center;
        }
        .ant-checkbox-checked .ant-checkbox-inner{
            background-color:#8277D9;
            border-color:#8277D9;
        }
        .ant-checkbox-checked::after{
            border-color:#8277D9;
        }
        .ant-checkbox-inner{
            border-color:#8277D9;
            background-color: transparent;
        }
        .ant-checkbox + span{
            color: var(--blue);
        }
        .error-message{
            position: relative;
        }
    }
}

.styles_loading__Z65VQ {
    height: 40px !important;
    padding-top: 10px;
}