.channel-dashboard-container {
    margin:2vh 2vw 0 2vw;
    .dashboard-header {
        height: 20vh;
    }
    .dashboard-top {
        height: 45vh;
        display: flex;
        justify-content: space-between;
    }
    .dashboard-bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 15px ;
    }
}