.channel-dashboard-container {
    margin-top: 2vh;
    width: 95vw;
    height: 97vh;
    .dashboard-header {
        margin-bottom: 15px;
    }
    .dashboard-top {
        display: flex;
        justify-content: space-between;
        .queue-observability {
            margin-right: 2vw;
        }
    }
    .dashboard-bottom{
        width: 95vw;
        display: flex;
        justify-content: space-between;
        margin-top: 2vw;
        margin-bottom: 2vw;
        position: relative;
    }
}