.loginContainers{
    width: 100%;
    height: 100%;
    position: fixed;

    top: 0;
    right: 0;
    z-index: 3;
}
.loginContainers .loader-container img{
    width: 20vw;
    top: 30%;
}
.background{
    position: relative;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(45deg, rgba(185,176,255,1) 0%, rgba(247,247,247,1) 33%, rgba(247,247,247,1) 66%, rgba(98,165,223,1) 100%) 0px 0px / 500px 500px no-repeat no-repeat; /* New Gradient */
    background-size: 100% 100%;
    /* animation: AnimationName 15s linear infinite; */
} 
/* 

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
} */

.content{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 500px;
    justify-items: center;
    grid-template-rows: 25% 13% 62%;
    overflow: auto;
}

.logoImg {
    align-self: center;
    text-align: center;

}

.logoImg img {
    width: 13vw;
    height: auto;
}
.content .title{
    font-size: 2.5vw;
    color: var(--blue);
    font-weight: 100;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.content .title p{
    display: flex;
    margin: 5px;
    justify-content: center
}
.change-color{
    color: #8277D9;
    display: contents;

}
.subdomain{
    display: flex;
    align-items: center;
    color: var(--blue);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0;
}
.subdomain input{
    color: var(--blue) !important;
    font-size: 12px;
}
.login-form .ant-form-item{
    height: 75px;
    position: relative;
    display: grid;
    margin-bottom: 0px;
    width: 19vw;
}
.login-form .ant-form-item-control{
    margin: 0;
}
.login-form .checkBox{
    font-weight: 600;
    position: relative;
    top: 5px;
}
.login-form .checkBox .ant-checkbox-wrapper{
    width: 19vw;
    text-align: center;
    justify-content: center
}
.login-form .checkBox .ant-checkbox-checked .ant-checkbox-inner{
    background-color:#8277D9;
    border-color:#8277D9;
}

.login-form .checkBox .ant-checkbox-checked::after{
    border-color:#8277D9;
}

.login-form .checkBox .ant-checkbox-inner{
    border-color:#8277D9;
    background-color: transparent;
}

.login-form .ant-form-item-explain.ant-form-item-explain-error{
    padding-left: 14px;
    min-width: 280px;
}

.ant-form-item-control-input{
    min-height: unset;
    
}

.error-message{
    position: absolute;
    width: 21vw;
}
.error-message p {
    color: #ff4d4f;
}
.button-container{
    margin-bottom: 10px;
}
.forgot-password{
    cursor: pointer;
    text-align: center;
    width: 19vw;
}

.forgot-password:hover{
    color: var(--purple);
    text-decoration: underline;
}
.resend-code {
    display: flex;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.mobile-login{
    display: grid;
    overflow: auto;
    grid-template-rows: 30% 70%;
    height: 100%;
}

.logo-mobile{
    position: relative;
    top: 10%;
}
.mobile-form{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mobile-form .ant-input-affix-wrapper {
    background-color: #f9f9f9 !important;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.21);
}
.checkbox-container{
    justify-content: center;
}

.mobile-form .ant-form{
    position: relative;
    justify-items: center;
}
.mobile-form .ant-form-item{
    min-width: 230px;
    height: 70px;
    margin-bottom: 0px;

}
.mobile-form .ant-form-item-explain.ant-form-item-explain-error {
    /* color: aliceblue; */
    float: left;
    display: flex;
    padding-left: 16px;
    width: 60vw;
    text-align: left;
}

.mobile-form .ant-checkbox-checked .ant-checkbox-inner{
    background-color:#8277D9;
    border-color:#8277D9;
}
.mobile-form .ant-checkbox-checked::after{
    border-color:#8277D9;
}
.mobile-form .ant-checkbox-inner{
    border-color:#8277D9;
    background-color: transparent;
}
.mobile-form .ant-checkbox + span{
    color: var(--blue);
}
.mobile-form .error-message{
    position: relative;
}
.forgot-password-mobile{
    color: var(--blue);
    cursor: pointer;
}

.forgot-password-mobile:hover{
    color: var(--purple);
    text-decoration: underline;
}


.code-request{
    position: relative;
    height: 17vh
}
.code-request p {
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center;

}
.form-modal .ant-form-item-explain{
    padding-left: 14px;
}
.form-modal {
    position: relative;
    display: grid;
    justify-items: center;
}
.code-request input{
    color: var(--blue) !important;
}
.code-Recovery input
{
    border-color: #8277D9 !important;
}

.code-send{
    position: relative;
    text-align: center;
    height: 17vh
}

.code-send p {
    margin-bottom: 15px;
    font-size: 16px;
}

.wrong-code{
    color: #ff4d4f;
}
.code-input{
    height: 100px;
}
.message{
    font-size: 16px;
    text-align: center;
    padding-top: 40px;
}
.styles_loading__Z65VQ {
    height: 40px !important;
    padding-top: 10px;
}