@font-face {
  font-family: "Avenir-Next";
  src: local("AvenirNextLTPro-Regular"),
    url("./assets/fonts/Avenir-Next/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "AvenirNextBold";
  src: local("AvenirNextLTPro-Bold"),
    url("./assets/fonts/Avenir-Next/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: local("AvenirNextLTPro-Demi"),
    url("./assets/fonts/Avenir-Next/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight:600;
}

* {
  font-family: Avenir-Next;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: #F7F7F7;
  --blue: #2B2E3F;
  --purple: #5D4AEE;
  --blueLight:rgba(43,46,69,0.75)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ants-switch-style */
.switch-button {
  position: relative;
  display: grid;
}

.ant-switch-handle::before{ 
  background-color: #2B2E3F !important;  
}

.ant-switch-checked .ant-switch-handle::before {
  background-color: var(--white) !important;
}

.ant-switch{
  background-color: var(--white) !important;
  border: 0.5px solid #2B2E3F !important;
  position: initial !important;
}

.ant-switch-inner {
  color: #2B2E3F !important;
}

.ant-switch-checked {
  background-color: #046d0c !important;
  border: unset !important;
  .ant-switch-inner {
    color: var(--white) !important;
  }
}