.create-user-form {
    .field {
        p {
            font-size: 12px;
            font-weight: 400;
        }
    }
    .password {
        margin-top: 20px;
    }
    .password-section {
        margin-top: 50px;
    }
}
