.profile-border-logo{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.user-name{
    margin-top: 50px;
    p{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        color: var(--blue);
    }   
}