.channel-dashboard-container {
    width: calc(100% - 60px);
    position: absolute;
    padding: 1vw;
    height: 100%;
    .dashboard-header {
        margin-bottom: 15px;
    }
    .dashboard-top {
        display: flex;
        justify-content: space-between;
        width: 95vw;
        .queue-observability {
            margin-right: 2vw;
        }
    }
    .dashboard-bottom{
        width: 95vw;
        display: flex;
        justify-content: space-between;
        margin-top: 2vw;
        margin-bottom: 2vw;
        position: relative;
    }
}