.function-overview-container{
    display: flex;
    min-width:700px;
    overflow-x: auto;
    height: 12vh;
    margin-left: 10px;
    .function-list-container{
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        .remove-button{
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: #f7f7f7;
            border-radius: 50%;
            width: 21px;
            height: 21px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .function-box-overview{
            cursor: pointer;
            padding: 5px;
            overflow-x: hidden;
            overflow-y: hidden;
            width: 9vw;
            min-width: 90px;
            height: 9vh;
            background-color: var(--white);
            border-radius: 10px;
            box-shadow:  0px 8px 8px rgba(197, 194, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            flex-flow: column;  
            .function-name{
                p{
                    color: var(--blue);
                    font-weight: 600;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-transform: capitalize;
                    margin: 0;
                }
            }
        }
        img{
            width: 4vw;
        }
    } 
}
