.avatar-uploader > .ant-upload {
    width: 210px;
    height: 210px;
}
.ant-upload.ant-upload-select-picture-card {
    background: #ffffff;
    border: 1px dashed var(--gray);
    box-sizing: border-box;
    border-radius: 10px;
}
