.avatar-uploader > .ant-upload {
  width: 210px;
  height: 210px;
}
.ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
  border: 1px dashed #d8d8d8;
  box-sizing: border-box;
  border-radius: 10px;
}
